.ImageCard {
  display: flex;
  width: 40rem;
  box-shadow: 0.2rem 0.2rem 0.2rem var(--dark);
}
.ImageContainer {
  width: 50%;
  min-width: 20rem;
  display: grid;
  place-content: start;
  overflow: hidden;
  border-right: 0.4rem solid var(--accent);
}
.ImageContainer img {
  height: 40rem;
  aspect-ratio: auto;
}
.TextContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: end;
  padding: 0 1rem;
  color: var(--dark);
}
.TextContainer .socials {
  margin: auto 0;
}

@media only screen and (max-width: 800px) {
  .TextContainer .Title {
    display: none;
  }
  .TextContainer .descText {
    font-weight: bold;
    font-size: 1.125rem;
  }
  .socials {
    font-size: 1.125rem;
  }
}
