.ImageCard {
  display: flex;
  flex-direction: column;
  height: 40rem;
  box-shadow: 0.2rem 0.2rem 0.2rem var(--dark);
}
.ImageContainer {
  width: 40rem;
}
.ImageContainer img {
  width: 100%;
  aspect-ratio: auto;
  max-height: 20rem;
  border-bottom: 0.4rem solid var(--accent);
}
.TextContainer {
  display: flex;
  margin: auto 0;
  text-align: start;
  justify-content: space-around;
  color: var(--dark);
}
.TextContainer .socials {
  text-align: end;
}

@media only screen and (max-width: 800px) {
  .TextContainer .Title {
    display: none;
  }
  .TextContainer .descText {
    font-weight: bold;
    font-size: 1.125rem;
  }
  .socials {
    font-size: 1.125rem;
  }
}
