.footer {
  width: 100%;
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
}
.links,
.textContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.links a {
  color: var(--dark);
  font-weight: bold;
  transition: 250ms;
}
.links a:hover {
  text-decoration: underline var(--accent);
}
